{
    "sourcePaths": {
        "js": "./src/js/",
        "scss": "./src/scss/",
        "img": "./src/img/",
        "html": "./src/"
    },
    "destinationPath": "./dist/",
    "destinationInject": ["./dist/nl/index.html","./dist/en/index.html"],
    "loadPaths": ["./src/scss/","./bower_components/font-awesome/scss/"],
    "cloudflare": {
        "token": "",
        "email": "",
        "domain": "koenromers.com"
    },
    "githubPages": {
        "branch": "master"
    }
}