.btn {
	position: relative;
	display: inline-block;
	width: $button-size;
	height: $button-size;
	line-height: $button-size;
	text-align: center;
	color: #000;
	padding: 0;
	transition: color 0.3s;

	i {
		// vertical-align: middle;
		font-size: 21px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: box-shadow 0.3s, transform 0.3s;

		box-shadow: inset 0 0 0 2px #000;
		transform: scale3d(1, 1, 1);
	}

	&:hover {
		color: #fff;

		&::before {
			box-shadow: inset 0 0 0 ($button-size / 2) #000;
			transform: scale3d(0.9, 0.9, 1);
		}
	}
}