.jumbotron {
	width: 75%;
	margin: 10% 0;

	h1 {
		padding: 0;
		margin: 0 0 15px 0;
	}

	h2, p {
		padding: 0;
		margin: 0 0 35px 0;
	}

	.btn {
		margin-right: 5px;
	}

	@media (max-width: 768px) {
		width: 90%;
	}
}