@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

/* Font includes */
@include font-face("Segoe UI Light", font-files("/fonts/segoeuil.woff", woff,"/fonts/segoeuil.svg", svg,"/fonts/segoeuil.ttf",truetype), "/fonts/segoeuil.eot");
@include font-face("Segoe UI Regular", font-files("/fonts/segoeui.woff", woff,"/fonts/segoeui.svg", svg,"/fonts/segoeui.ttf",truetype), "/fonts/segoeui.eot");
@include font-face("Auto 1 Lt SmCp", font-files("/fonts/auto1-lightsmcp.woff", woff,"/fonts/auto1-lightsmcp.svg", svg,"/fonts/auto1-lightsmcp.ttf",truetype), "/fonts/auto1-lightsmcp.eot");

/* Color variables */
$white: #fff;
$orange: #ff6600;
$grey: #636364;
$tooltip-grey: #25282a;
$social-button-grey1: #e1e1e1;
$social-button-grey2: #babcbd; 

/* Dimension variables */
$social-button-width: 33px;
$social-button-height: 33px;

/* Icon sprite */
$icons-layout: horizontal;
$icons-spacing: $social-button-height;
@import "icons/*.png";

body {
	background: url(/images/bg.jpg) no-repeat center center fixed;
	@include background-size(cover);
}

#container{
	position: relative;
	width: 1000px;
	margin: auto;
	
	header{
		position: relative;
		margin: 20% 0 0 0;
		
		#logo {
			position: relative;
			float: left;
			
			h1 {
				font-family: "Segoe UI Light";
				@include text-shadow(rgba(black, 1) 1px 1px 0);
		  		font-size: 24px;
		  		line-height: 24px;
				color: $orange;
				
				span{
					font-family: "Segoe UI Regular";
					color: $white;
				}
			}
			h2 {
				font-family: "Auto 1 Lt SmCp";
				@include text-shadow(rgba(black, 1) 1px 1px 0);
				color: $grey;
				font-size: 14px;
				line-height: 14px;
				margin: 0 0 0 54px;
			}
		}
		#socialmedia {
			position: relative;
			float: right;
			width: 250px;
			
			a {
				$experimental-support-for-svg: true;
				display: block;
				float: left;
				width: $social-button-width; height: $social-button-height;
				margin: -30px 0 0 10px;
				text-decoration: none;
				@include opacity(0);
				@include background-image(linear-gradient($social-button-grey1, $social-button-grey2));
				@include border-radius($social-button-width);
				@include box-shadow(black 0px 1px 2px);
				
				&:first-child {
					margin-left: 0px;
				}
				
				&:active {
					@include background-image(linear-gradient($social-button-grey2, $social-button-grey1));
				}
				
				&:hover span.phone strong {
					@include opacity(1);
					bottom: 45px;
				}
				
				span {
					position: relative;
					display: block;
					width: $social-button-width; height: $social-button-height;
					
					&.flickr { 
						@include icons-sprite(flickr);
					}
					&.twitter { 
						@include icons-sprite(twitter);
					}
					&.facebook { 
						@include icons-sprite(facebook);
					}
					&.linkedin { 
						@include icons-sprite(linkedin);
					}
					&.lastfm { 
						@include icons-sprite(lastfm);
					}
					&.phone { 
						@include icons-sprite(phone);
						
						strong {
							position: absolute; 
							bottom: 40px; left: 50%;
							width: 110px;
							margin-left: -57px;
							padding: 5px 0;
							border: 2px solid $tooltip-grey;
							background: $tooltip-grey; 
							color: #9fa4a8;
							text-align: center;
							font: bold 10px/10px "Arial";
							@include transition-duration(0.3s);
							@include opacity(0);
							@include border-radius(4px);
							@include text-shadow(rgba(black, 1) 1px 1px 0);
							@include box-shadow(black 0px 1px 2px);
							
							&:before,
							&:after {
							  content: "";
							  position: absolute;
							  bottom: -7px; left: 50%;
							  margin-left: -5px;  
							  border-top: 5px solid $tooltip-grey;
							  border-left: 5px solid transparent;
							  border-right: 5px solid transparent;        
							  border-bottom: 0; 
							}
							&:before {
								border-top-color: #25282a;
  								bottom: -5px;
							}
						}
					}
				}
			}
		}
	}
}