html, body {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
}

.container {
	margin: auto;
	max-width: 970px;
	padding: 0 5%;
}

.wrapper {
	min-height: 100%;
	margin-bottom: $footer-height * -1;

	&:after {
		content: "";
		display: block;
		height: $footer-height;
	}
}